{% extends 'layout.html' %}

{% block title %}
  分类支出
{% endblock %}

{% block js %}
  <script src="js/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}

  {% include "partials/navbar.html" %}

  <div class="container">
    {% include "partials/flash.html" %}
  </div>
  <div class="container mt10 pln prn" id="charts-container">
    <div class="page-header">
      <h6>可视化 - 分类 (年)<small>    2014 ~ 2016</small></h6>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading" id="pie-2016-title"></div>
          <div class="panel-body">
            <canvas id="pie-2016"></canvas>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading" id="pie-2015-title"></div>
          <div class="panel-body">
            <canvas id="pie-2015"></canvas>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading" id="pie-2014-title"></div>
          <div class="panel-body">
            <canvas id="pie-2014"></canvas>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block pagejs %}
  <script>
    Chart.defaults.global.legend.display = false
    Chart.defaults.global.responsive = true
    Chart.defaults.global.hover.mode = 'single'
    Chart.defaults.global.hover.animationDuration = 300
    Chart.defaults.global.title.display = true
    Chart.defaults.global.title.position = 'top'
    Chart.defaults.global.title.fullWidth = true
    Chart.defaults.global.title.fontSize = 18
    Chart.defaults.global.animation.animateRotate = true
    Chart.defaults.global.animation.animateScale = true
    Chart.defaults.global.tooltips.enabled = true
    Chart.defaults.global.tooltips.mode = 'single'

    var colorList = ['#E74C3C', '#1ABC9C', '#2ECC71', '#F39C12', '#3498DB', '#9B59B6']
    var pie_ctx_2016 = document.getElementById('pie-2016')
    var pie_ctx_2015 = document.getElementById('pie-2015')
    var pie_ctx_2014 = document.getElementById('pie-2014')

    NProgress.start()
    $.getJSON('api/categorydatabyyear/2016', function(rsp) {
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }

      $('#pie-2016-title').text(titleText)

      var yearsKey = []
      var yearsValue = []
      _.each(yearsData, function(value, key) {
        yearsKey.push(key)
        yearsValue.push(value)
      })

      var data = {
        labels: yearsKey,
        datasets: [{
          data: yearsValue,
          backgroundColor: colorList,
          hoverBackgroundColor: colorList,
        }]
      }

      var myPieChart = new Chart(pie_ctx_2016, {
        type: 'pie',
        data: data,
        options: {
          // title: {
          //   text: titleText
          // },
          tooltips: {
            callbacks: {
              label: function(tooltipItems, data) {
                return data.labels[tooltipItems.index] + '占比：' + data.datasets[0].data[tooltipItems.index] + ' %'
              }
            }
          }

        }
      })
    })

    $.getJSON('api/categorydatabyyear/2015', function(rsp) {
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }

      $('#pie-2015-title').text(titleText)

      var yearsKey = []
      var yearsValue = []
      _.each(yearsData, function(value, key) {
        yearsKey.push(key)
        yearsValue.push(value)
      })

      var data = {
        labels: yearsKey,
        datasets: [{
          data: yearsValue,
          backgroundColor: colorList,
          hoverBackgroundColor: colorList,
        }]
      }

      var myPieChart = new Chart(pie_ctx_2015, {
        type: 'pie',
        data: data,
        options: {
          // title: {
          //   text: titleText
          // },
          tooltips: {
            callbacks: {
              label: function(tooltipItems, data) {
                return data.labels[tooltipItems.index] + '占比：' + data.datasets[0].data[tooltipItems.index] + ' %'
              }
            }
          }
        }
      })
    })

    $.getJSON('api/categorydatabyyear/2014', function(rsp) {
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }

      $('#pie-2014-title').text(titleText)

      var yearsKey = []
      var yearsValue = []
      _.each(yearsData, function(value, key) {
        yearsKey.push(key)
        yearsValue.push(value)
      })

      var data = {
        labels: yearsKey,
        datasets: [{
          data: yearsValue,
          backgroundColor: colorList,
          hoverBackgroundColor: colorList,
        }]
      }

      var myPieChart = new Chart(pie_ctx_2014, {
        type: 'pie',
        data: data,
        options: {
          // title: {
          //   text: titleText,
          // },
          tooltips: {
            callbacks: {
              label: function(tooltipItems, data) {
                return data.labels[tooltipItems.index] + '占比：' + data.datasets[0].data[tooltipItems.index] + ' %'
              }
            }
          }
        }
      })
    })
    NProgress.done()
  </script>
{% endblock %}
