{% extends 'layout.html' %} {% block title %} 分类支出 {% endblock %} {% block head %}
<script src="js/echarts.pie.min.js"></script>
{% endblock %} {% block content %} {% include "partials/navbar.html" %}
<div class="container">
  {% include "partials/flash.html" %}
</div>
<div class="container mt10 pln prn" id="charts-container">
  <div class="page-header">
    <h6>可视化 - 分类（年）<small>    2014 ~ 2016</small></h6>
  </div>
  <div class="col-md-12">
    <div id="main" style="height: 600px"></div>
  </div>
</div>
{% endblock %} {% block pagejs %}
<script>
var myChart = echarts.init(document.getElementById('main'));

var option = {
  backgroundColor: '#2c343c',

  title: {
    text: 'Customized Pie',
    left: 'center',
    top: 10,
    textStyle: {
      color: '#ccc'
    }
  },

  tooltip: {
    trigger: 'item',
    formatter: "{a} <br/>{b} : {c} ({d}%)"
  },

  visualMap: {
    show: false,
    min: 80,
    max: 600,
    inRange: {
      colorLightness: [0, 1]
    }
  },
  series: [{
    name: '访问来源',
    type: 'pie',
    radius: '55%',
    center: ['50%', '50%'],
    data: [{
      value: 335,
      name: '直接访问'
    }, {
      value: 310,
      name: '邮件营销'
    }, {
      value: 274,
      name: '联盟广告'
    }, {
      value: 235,
      name: '视频广告'
    }, {
      value: 400,
      name: '搜索引擎'
    }].sort(function(a, b) {
      return a.value - b.value
    }),
    roseType: 'angle',
    label: {
      normal: {
        textStyle: {
          color: 'rgba(255, 255, 255, 0.3)'
        }
      }
    },
    labelLine: {
      normal: {
        lineStyle: {
          color: 'rgba(255, 255, 255, 0.8)'
        },
        smooth: 0,
        length: 20,
        length2: 20
      }
    }
  }]
}
myChart.setOption(option)
NProgress.done()
</script>
{% endblock %}
