{% extends 'layout.html' %}

{% block title %}
    月支出
{% endblock %}

{% block js %}
    <script src="js/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}

    {% include "partials/navbar.html" %}

    <div class="container">
        {% include "partials/flash.html" %}
    </div>

    <div class="container" id="charts-container" style="margin-top: 10px">
        <div class="page-header">
            <h1>可视化 - 月支出<small>    2014 ~ 2016</small></h1>
        </div>

        <div class="row mb30">
            <div class="col-md-6">
                <canvas id="bar-chart-2016"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="line-chart-2016"></canvas>
            </div>
        </div>

        <div class="row mb30">
            <div class="col-md-6">
                <canvas id="bar-chart-2015"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="line-chart-2015"></canvas>
            </div>
        </div>

        <div class="row mb30">
            <div class="col-md-6">
                <canvas id="bar-chart-2014"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="line-chart-2014"></canvas>
            </div>
        </div>


        <script>
            var bar_ctx_2016 = document.getElementById('bar-chart-2016');
            var line_ctx_2016 = document.getElementById('line-chart-2016');
            $.getJSON('api/bymonth/2016', function(rsp) {
                var yearamountData;
                if (rsp.message === 0) {
                    yearamountData = rsp.data.data;
                    titleText = rsp.data.title;
                } else {
                    yearamountData = {0: 0}
                }

                var yearKey = [];
                var yearValue = [];

                _.each(yearamountData, function(value, key){
                    yearKey.push(key);
                    yearValue.push(value);
                });

                var barChart2016 = new Chart(bar_ctx_2016, {
                    type: 'bar',
                    data: {
                        labels: yearKey,
                        datasets: [{
                            label: '支出',
                            data: yearValue,
                            backgroundColor: 'rgba(54, 162, 235, 0.4)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            hoverBorderColor: 'rgba(54, 162, 235, 1)',
                            hoverBorderWidth: 1.5
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        hover: {
                            // Overrides the global setting
                            mode: 'single'
                        },
                        title: {
                            display: true,
                            text: titleText,
                            fontSize: 18
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                var lineChart2016 = new Chart(line_ctx_2016, {
                    type: 'line',
                    data: {
                        labels: yearKey,
                        datasets: [{
                            label: '支出',
                            data: yearValue,
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(54, 162, 235, 0.4)",
                            borderColor: "rgba(54, 162, 235, 1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 6,
                            pointHoverBackgroundColor: "rgba(54, 162, 235, 1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            spanGaps: false,
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        hover: {
                            // Overrides the global setting
                            mode: 'single'
                        },
                        title: {
                            display: true,
                            text: '2016 年支出（元/年）',
                            fontSize: 18
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            });

            var bar_ctx_2015 = document.getElementById('bar-chart-2015');
            var line_ctx_2015 = document.getElementById('line-chart-2015');
            $.getJSON('api/bymonth/2015', function(rsp) {
                var yearamountData;
                if (rsp.message === 0) {
                    yearamountData = rsp.data.data;
                    titleText = rsp.data.title;
                } else {
                    yearamountData = {0: 0}
                }

                var yearKey = [];
                var yearValue = [];

                _.each(yearamountData, function(value, key){
                    yearKey.push(key);
                    yearValue.push(value);
                });

                var barChart2015 = new Chart(bar_ctx_2015, {
                    type: 'bar',
                    data: {
                        labels: yearKey,
                        datasets: [{
                            label: '支出',
                            data: yearValue,
                            backgroundColor: 'rgba(54, 162, 235, 0.4)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            hoverBorderColor: 'rgba(54, 162, 235, 1)',
                            hoverBorderWidth: 1.5
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        hover: {
                            // Overrides the global setting
                            mode: 'single'
                        },
                        title: {
                            display: true,
                            text: titleText,
                            fontSize: 18
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                var lineChart2015 = new Chart(line_ctx_2015, {
                    type: 'line',
                    data: {
                        labels: yearKey,
                        datasets: [{
                            label: '支出',
                            data: yearValue,
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(54, 162, 235, 0.4)",
                            borderColor: "rgba(54, 162, 235, 1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 6,
                            pointHoverBackgroundColor: "rgba(54, 162, 235, 1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            spanGaps: false,
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        hover: {
                            // Overrides the global setting
                            mode: 'single'
                        },
                        title: {
                            display: true,
                            text: titleText,
                            fontSize: 18
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            });

            var bar_ctx_2014 = document.getElementById('bar-chart-2014');
            var line_ctx_2014 = document.getElementById('line-chart-2014');
            $.getJSON('api/bymonth/2014', function(rsp) {
                var yearamountData;
                if (rsp.message === 0) {
                    yearamountData = rsp.data.data;
                    titleText = rsp.data.title;
                } else {
                    yearamountData = {0: 0}
                }

                var yearKey = [];
                var yearValue = [];

                _.each(yearamountData, function(value, key){
                    yearKey.push(key);
                    yearValue.push(value);
                });

                var barChart2014 = new Chart(bar_ctx_2014, {
                    type: 'bar',
                    data: {
                        labels: yearKey,
                        datasets: [{
                            label: '支出',
                            data: yearValue,
                            backgroundColor: 'rgba(54, 162, 235, 0.4)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            hoverBorderColor: 'rgba(54, 162, 235, 1)',
                            hoverBorderWidth: 1.5
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        hover: {
                            // Overrides the global setting
                            mode: 'single'
                        },
                        title: {
                            display: true,
                            text: titleText,
                            fontSize: 18
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                var lineChart2014 = new Chart(line_ctx_2014, {
                    type: 'line',
                    data: {
                        labels: yearKey,
                        datasets: [{
                            label: '支出',
                            data: yearValue,
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(54, 162, 235, 0.4)",
                            borderColor: "rgba(54, 162, 235, 1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 6,
                            pointHoverBackgroundColor: "rgba(54, 162, 235, 1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            spanGaps: false,
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        responsive: true,
                        hover: {
                            // Overrides the global setting
                            mode: 'single'
                        },
                        title: {
                            display: true,
                            text: titleText,
                            fontSize: 18
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            });
        </script>
    </div>
{% endblock %}
