{% extends 'layout.html' %}

{% block title %}
    分类支出
{% endblock %}

{% block js %}
    <script src="js/echarts.pie.min.js"></script>
{% endblock %}

{% block content %}

    {% include "partials/navbar.html" %}

    <div class="container">
        {% include "partials/flash.html" %}
    </div>

    <div class="container" id="charts-container" style="margin-top: 10px">
        <div class="page-header">
            <h1>可视化 - 分类支出<small>    2014 ~ 2016</small></h1>
        </div>
        <div class="row mb10">
            <div class="pallete-item">
                <dl class="palette palette-alizarin">
                    <dt>食品</dt>
                </dl>
            </div>
            <div class="pallete-item">
                <dl class="palette palette-turquoise">
                    <dt>穿</dt>
                </dl>
            </div>
            <div class="pallete-item">
                <dl class="palette palette-emerald">
                    <dt>居住</dt>
                </dl>
            </div>
            <div class="pallete-item">
                <dl class="palette palette-orange">
                    <dt>交通通信</dt>
                </dl>
            </div>
            <div class="pallete-item">
                <dl class="palette palette-peter-river">
                    <dt>教育</dt>
                </dl>
            </div>
            <div class="pallete-item">
                <dl class="palette palette-amethyst">
                    <dt>文化娱乐</dt>
                </dl>
            </div>
            <div style="padding-top: 6px;">
                <button class="btn btn-info pull-right" id="fullscrean">全屏</button>
            </div>

        </div>

        <div class="col-md-12">
            <div id="main" style="height: 600px"></div>
        </div>




        <script>
            $('#fullscrean').on('click', function(){
                if (screenfull.enabled) {
                    screenfull.toggle();
                    document.addEventListener(screenfull.raw.fullscreenchange, function() {
                        if (screenfull.isFullscreen) {
                            notie.alert('success', '进入全屏展示，「ESC」退出全屏', 3)
                        } else {
                            notie.alert('success', '退出全屏展示', 3)
                        }
                    })
                } else {
                    notie.alert('error', '此浏览器不支持全屏', 3)
                }
            })

            var myChart = echarts.init(document.getElementById('main'));

            option = {
                backgroundColor: '#2c343c',

                title: {
                    text: 'Customized Pie',
                    left: 'center',
                    top: 10,
                    textStyle: {
                        color: '#ccc'
                    }
                },

                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },

                visualMap: {
                    show: false,
                    min: 80,
                    max: 600,
                    inRange: {
                        colorLightness: [0, 1]
                    }
                },
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '50%'],
                        data:[
                            {value:335, name:'直接访问'},
                            {value:310, name:'邮件营销'},
                            {value:274, name:'联盟广告'},
                            {value:235, name:'视频广告'},
                            {value:400, name:'搜索引擎'}
                        ].sort(function (a, b) { return a.value - b.value}),
                        roseType: 'angle',
                        label: {
                            normal: {
                                textStyle: {
                                    color: 'rgba(255, 255, 255, 0.3)'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, 0.8)'
                                },
                                smooth: 0,
                                length: 20,
                                length2: 20
                            }
                        }
                    }
                ]
            };

            myChart.setOption(option);
        </script>
    </div>
{% endblock %}
