{% extends 'layout.html' %}

{% block title %}
  年支出
{% endblock %}

{% block head %}
  <script src="js/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}
  {% include "partials/navbar.html" %}
  <div class="container mt10">
    {% include "partials/flash.html" %}
  </div>
  <div class="container" id="charts-container">
    <div class="page-header mb10">
      <h6 class="mb10">可视化 - 年<small>    2014 ~ 2016</small></h6>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading" id="bar-years-title"></div>
        <div class="panel-body">
          <canvas id="bar-years"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading" id="line-years-title"></div>
        <div class="panel-body">
          <canvas id="line-years"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading" id="bar-all-month-title"></div>
        <div class="panel-body">
          <canvas id="bar-all-month"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading" id="line-all-month-title"></div>
        <div class="panel-body">
          <canvas id="line-all-month"></canvas>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pagejs %}
  <script>
    Chart.defaults.global.legend.display = false
    Chart.defaults.global.responsive = true
    Chart.defaults.global.hover.mode = 'single'
    Chart.defaults.global.hover.animationDuration = 300
    Chart.defaults.global.title.display = true
    Chart.defaults.global.title.position = 'top'
    Chart.defaults.global.title.fullWidth = true
    Chart.defaults.global.title.fontSize = 18

    var bar_ctx_years = document.getElementById('bar-years')
    var line_ctx_years = document.getElementById('line-years')
    var bar_ctx_all_month = document.getElementById('bar-all-month')
    var line_ctx_all_month = document.getElementById('line-all-month')

    NProgress.start()
    $.getJSON('api/years', function(rsp) {
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }

      $('#bar-years-title').text(titleText)
      $('#line-years-title').text(titleText)

      var yearsKey = []
      var yearsValue = []
      _.each(yearsData, function(value, key) {
        yearsKey.push(key)
        yearsValue.push(value)
      })

      var barChartYears = new Chart(bar_ctx_years, {
        type: 'bar',
        data: {
          labels: yearsKey,
          datasets: [{
            data: yearsValue,
            label: '支出',
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            hoverBorderColor: 'rgba(54, 162, 235, 1)',
            hoverBorderWidth: 1.5
          }]
        },
        options: {
          // title: {
          //   text: titleText
          // },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                return tooltipItems.yLabel + ' 元'
              }
            }
          }
        }
      })

      var lineChartYears = new Chart(line_ctx_years, {
        type: 'line',
        data: {
          labels: yearsKey,
          datasets: [{
            data: yearsValue,
            label: '支出',
            fill: false,
            lineTension: 0.1,
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: 'rgba(75,192,192,1)',
            pointBackgroundColor: '#fff',
            pointBorderWidth: 1,
            pointHoverRadius: 6,
            pointHoverBackgroundColor: 'rgba(54, 162, 235, 1)',
            pointHoverBorderColor: 'rgba(220,220,220,1)',
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            spanGaps: false,
          }]
        },
        options: {
          // title: {
          //   text: titleText
          // },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                return tooltipItems.yLabel + ' 元'
              }
            }
          }
        }
      })
    })

    $.getJSON('api/allmonth', function(rsp) {
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }

      $('#bar-all-month-title').text(titleText)
      $('#line-all-month-title').text(titleText)

      var yearsKey = []
      var yearsValue = []
      _.each(yearsData, function(value, key) {
        yearsKey.push(key)
        yearsValue.push(value)
      })

      var barChartAllMonth = new Chart(bar_ctx_all_month, {
        type: 'bar',
        data: {
          labels: yearsKey,
          datasets: [{
            data: yearsValue,
            label: '支出',
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1,
            hoverBorderColor: 'rgba(54, 162, 235, 1)',
            hoverBorderWidth: 1.5
          }]
        },
        options: {
          // title: {
          //   text: titleText
          // },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                return tooltipItems.yLabel + ' 元'
              }
            }
          }
        }
      })

      var lineChartAllMonth = new Chart(line_ctx_all_month, {
        type: 'line',
        data: {
          labels: yearsKey,
          datasets: [{
            data: yearsValue,
            label: '支出',
            fill: false,
            lineTension: 0.1,
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: 'rgba(75,192,192,1)',
            pointBackgroundColor: '#fff',
            pointBorderWidth: 1,
            pointHoverRadius: 6,
            pointHoverBackgroundColor: 'rgba(54, 162, 235, 1)',
            pointHoverBorderColor: 'rgba(220,220,220,1)',
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            spanGaps: false,
          }]
        },
        options: {
          // title: {
          //   text: titleText
          // },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems) {
                return tooltipItems.yLabel + ' 元'
              }
            }
          }
        }
      })
    })
    NProgress.done()
  </script>
{% endblock %}
