{% extends 'layout.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
    <script src="js/Chart.bundle.js"></script>
{% endblock %}

{% block content %}

    {% include "partials/navbar.html" %}

    <div class="container">
        {% include "partials/flash.html" %}
    </div>

    <div class="jumbotron" style="background-color: #fff">
        <div class="container">
            <h1>Spending Vis</h1>
            <p class="lead">个人资产管理<small>    就是一个记账的……</small></p>

            <p><a class="btn btn-lg btn-primary" href="#" role="button">开始使用</a></p>
        </div>
    </div>

    <div class="container" style="margin-bottom: 60px">
        <div class="row">
            <div class="col-md-4">
              <h3>数据可视化</h3>
              <p>表格、多种可视化图形</p>
              <p><a class="btn btn-primary" href="#" role="button">查看详情 »</a></p>
            </div>
            <div class="col-md-4">
              <h2>数据分析</h2>
              <p>自然语言处理、自动分类、财务报告</p>
              <p><a class="btn btn-primary" href="#" role="button">查看详情 »</a></p>
           </div>
            <div class="col-md-4">
              <h2>iOS App</h2>
              <p>iOS App 录入数据</p>
              <p><a class="btn btn-primary" href="#" role="button">查看详情 »</a></p>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

{% endblock %}

