{% extends 'layout.html' %}

{% block title %}
  上月概要
{% endblock %}

{% block head %}
  <script src="js/Chart.bundle.min.js"></script>
  <script src="js/echarts.pie.min.js"></script>
  <script src="js/datatables/jquery.dataTables.min.js"></script>
  <script src="js/datatables/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block content %}
  {% include "partials/navbar.html" %}
  <div class="container mt10">
    {% include "partials/flash.html" %}
  </div>
  <div class="container mt10 pln prn" id="charts-container">
    <div class="page-header">
      <h6>可视化 - 上月概要<small></small></h6>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading" id="line-pre5month-title">最近五个月支出</div>
        <div class="panel-body" id="left-panel-height">
          <canvas id="line-pre5month"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading" id="pie-last-month-title">CPI</div>
          <div id="pie-last-month"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading" id="category-list-title">各分类支出概要</div>
        <ul class="list-group" id="category-list">
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading" id="category-list-max-six-title">金额最大六笔支出</div>
        <ul class="list-group" id="category-list-max-six">
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading" id="last-month-datatable-title">支出详细表格</div>
        <div class="panel-body datatable">
          <div>
            <div class="col-md-12 center-block">
              <table id="last-month-datatable" class="table table-bordered mb10" cellspacing="0" width="100%"></table>
            </div>
          </div>
        </div>
        <div class="container datatable-notify">
          <p class="mt5">请在桌面浏览器或 iPad 浏览器上查看表格以获得更佳体验。</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pagejs %}
  <script>
    Chart.defaults.global.legend.display = false
    Chart.defaults.global.responsive = true
    Chart.defaults.global.hover.mode = 'single'
    Chart.defaults.global.hover.animationDuration = 300
    Chart.defaults.global.title.display = true
    Chart.defaults.global.title.position = 'top'
    Chart.defaults.global.title.fullWidth = true
    Chart.defaults.global.title.fontSize = 18

    var colorList = ['rgb(231,76,60)', 'rgb(26,188,156)', 'rgb(46,204,113)', 'rgb(243,156,18)', 'rgb(52,152,219)', 'rgb(155,89,182)']
    var shadowcolorList = ['rgb(231,76,60, 0.5)', 'rgb(26,188,156, 0.5)', 'rgb(46,204,113, 0.5)', 'rgb(243,156,18, 0.5)', 'rgb(52,152,219, 0.5)', 'rgb(155,89,182, 0.5)']
    var line_ctx_pre5month = document.getElementById('line-pre5month')
    var colorMatch = {
      '食品': '#E74C3C',
      '穿': '#1ABC9C',
      '居住': '#2ECC71',
      '交通通信': '#F39C12',
      '教育': '#3498DB',
      '文化娱乐': '#9B59B6'
    }

    NProgress.start()
    $.getJSON('api/last5month', function(rsp) {
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }
      var yearsKey = []
      var yearsValue = []
      _.each(yearsData, function(value, key) {
        yearsKey.push(key)
        yearsValue.push(value)
      })

      $('#line-pre5month-title').text(titleText)

      var lineChartPre5Month = new Chart(line_ctx_pre5month, {
        type: 'line',
        data: {
          labels: yearsKey,
          datasets: [{
            data: yearsValue,
            label: '支出',
            fill: false,
            lineTension: 0.1,
            backgroundColor: 'rgba(54, 162, 235, 0.4)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: 'rgba(75,192,192,1)',
            pointBackgroundColor: '#fff',
            pointBorderWidth: 1,
            pointHoverRadius: 6,
            pointHoverBackgroundColor: 'rgba(54, 162, 235, 1)',
            pointHoverBorderColor: 'rgba(220,220,220,1)',
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            spanGaps: false,
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems) {
                return tooltipItems.yLabel + ' 元'
              }
            }
          }
        }
      })

      var matchHeight = $('#left-panel-height').css('height')
      $('#pie-last-month').css('height', matchHeight)
    })

    $.getJSON('api/lastmonthcpi', function(rsp) {
      var pie_last_month = echarts.init(document.getElementById('pie-last-month'), 'macarons')
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }
      var yearsKey = []
      var yearsValue = []
      _.each(yearsData, function(value, key) {
        yearsKey.push(key)
        yearsValue.push(value)
      })

      $('#pie-last-month-title').text(titleText)

      var option_last_month = {
        // backgroundColor: '#2c343c',
        // title: {
        //   text: titleText,
        //   left: 'center',
        //   // top: 10,
        //   textStyle: {
        //     // color: '#000'
        //   }
        // },

        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} 元 ({d}%)"
        },
        series: [{
          name: '占比',
          type: 'pie',
          radius: '55%',
          center: ['50%', '50%'],
          data: [{
            value: yearsValue[0],
            name: yearsKey[0],
            itemStyle: {
              normal: {
                color: colorList[0]
              },
              emphasis: {
                shadowBlur: 200,
                shadowColor: shadowcolorList[0]
              }
            }
          }, {
            value: yearsValue[1],
            name: yearsKey[1],
            itemStyle: {
              normal: {
                color: colorList[1]
              },
              emphasis: {
                shadowBlur: 200,
                shadowColor: shadowcolorList[1]
              }
            }
          }, {
            value: yearsValue[2],
            name: yearsKey[2],
            itemStyle: {
              normal: {
                color: colorList[2]
              },
              emphasis: {
                shadowBlur: 200,
                shadowColor: shadowcolorList[2]
              }
            }
          }, {
            value: yearsValue[3],
            name: yearsKey[3],
            itemStyle: {
              normal: {
                color: colorList[3]
              },
              emphasis: {
                shadowBlur: 200,
                shadowColor: shadowcolorList[3]
              }
            }
          }, {
            value: yearsValue[4],
            name: yearsKey[4],
            itemStyle: {
              normal: {
                color: colorList[4]
              },
              emphasis: {
                shadowBlur: 200,
                shadowColor: shadowcolorList[4]
              }
            }
          }, {
            value: yearsValue[5],
            name: yearsKey[5],
            itemStyle: {
              normal: {
                color: colorList[5]
              },
              emphasis: {
                shadowBlur: 200,
                shadowColor: shadowcolorList[5]
              }
            }
          }],
          // roseType: 'angle',
          label: {
            normal: {
              textStyle: {
                fontSize: 14,
                // color: 'rgba(255, 255, 255, 0.3)'
              }
            }
          },
          labelLine: {
            normal: {
              lineStyle: {
                // color: 'rgba(255, 255, 255, 0.8)'
              },
              smooth: 0,
              length: 10,
              length2: 10
            }
          }
        }]
      }
      pie_last_month.setOption(option_last_month)
    })

    $.getJSON('api/lastmonthsummary', function(rsp) {
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }

      $('#category-list-title').text(titleText)

      _.each(yearsData, function(value, key) {
        var compiled = _.template('<li class="list-group-item"><span class="badge" style="margin-top: 6px; font-size: 13px; background-color:<%= color %>""><%= value %> 元</span><%= key %></li>')
        var tmp = $(compiled({
          key: key,
          value: value,
          color: colorMatch[key]
        }))
        $('#category-list').append(tmp)
      })
    })

    $.getJSON('api/lastmonthmaxsix', function(rsp) {
      if (rsp.message === 0) {
        var yearsData = rsp.data.data
        var titleText = rsp.data.title
      } else {
        yearsData = {
          0: 0
        }
      }

      $('#category-list-max-six-title').text(titleText)

      _.each(yearsData, function(value) {
        var compiled = _.template('<li class="list-group-item"><span class="badge" style="margin-top: 6px; font-size: 13px; background-color:<%= color %>"><%= value %> 元</span><%= key %></li>')
        var tmp = $(compiled({
          key: value['note'],
          value: value['amount'],
          color: colorMatch[value['cpi_text']]
        }))
        $('#category-list-max-six').append(tmp)
      })
    })

    $.getJSON('api/lastmonthalldata', function(rsp) {
      if (rsp.message === 0) {
        var titleText = rsp.data.title
        var yearamountData = rsp.data.data
      }

      $('#last-month-datatable-title').text(titleText)

      var dataSet = yearamountData.reverse()
      $('#last-month-datatable').DataTable({
        'data': dataSet,
        'columns': [{
          'data': 'cpi_text',
          'title': '分类 ID'
        }, {
          'data': 'date',
          'title': '时间'
        }, {
          'data': 'amount',
          'title': '金额（元）'
        }, {
          'data': 'note',
          'title': '备注'
        }],
        'autoWidth': true,
        'paging': true,
        'ordering': false,
        'info': true,
        'searching': true,
        'lengthMenu': [
          [10, 25, 50, 100, -1],
          [10, 25, 50, 100, '全部']
        ],
        'language': {
          'lengthMenu': '每页 _MENU_ 条记录',
          'zeroRecords': '没有找到',
          'info': '第 _PAGE_ 页，总 _PAGES_ 页',
          'infoEmpty': '没有记录',
          'infoFiltered': '(从 _MAX_ 条记录中过滤)',
          'search': '搜索：',
          'emptyTable': '这张表中没有数据',
          'loadingRecords': '加载中...',
          'processing': '处理中...',
          'paginate': {
            'first': '第一页',
            'last': '末页',
            'next': '下一页',
            'previous': '上一页'
          }
        }
      })
    })
    NProgress.done()
  </script>
{% endblock %}
