{% extends 'layout.html' %}

{% block title %}
  表格
{% endblock %}

{% block head %}
  <script src="js/datatables/jquery.dataTables.min.js"></script>
  <script src="js/datatables/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block content %}
  {% include "partials/navbar.html" %}
  <div class="container mt10">
    {% include "partials/flash.html" %}
  </div>
  <div class="container mt10 pln prn" id="table-container">
    <div class="page-header mb10">
      <h6>可视化 - 表格<small></small></h6>
    </div>
    <div class="col-md-12 pln prn" id="table-row">
      <div class="col-md-12 center-block">
        <div class="panel panel-info">
          <div class="panel-heading">全部数据</div>
          <div class="panel-body">
            <table id="myTables" class="table table-bordered" cellspacing="0" width="100%"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="table-notify">
    <p>请在桌面浏览器或 iPad 浏览器上查看表格以获得更佳体验。</p>
  </div>
{% endblock %}

{% block pagejs %}
  <script>
    NProgress.start()
    $.getJSON('api/alldata', function(rsp) {
      if (rsp.message === 0) {
        var yearamountData = rsp.data
      }
      var dataSet = yearamountData.reverse()
      $('#myTables').DataTable({
        'data': dataSet,
        'columns': [{
          'data': 'cpi_text',
          'title': 'CPI 分类'
        }, {
          'data': 'date',
          'title': '时间'
        }, {
          'data': 'amount',
          'title': '金额（元）'
        }, {
          'data': 'note',
          'title': '备注'
        }],
        'autoWidth': true,
        'paging': true,
        'ordering': false,
        'info': true,
        'searching': true,
        'lengthMenu': [
          [10, 25, 50, 100, -1],
          [10, 25, 50, 100, '全部']
        ],
        'language': {
          'lengthMenu': '每页 _MENU_ 条记录',
          'zeroRecords': '没有找到',
          'info': '第 _PAGE_ 页，总 _PAGES_ 页',
          'infoEmpty': '没有记录',
          'infoFiltered': '(从 _MAX_ 条记录中过滤)',
          'search': '搜索：',
          'emptyTable': '这张表中没有数据',
          'loadingRecords': '加载中...',
          'processing': '处理中...',
          'paginate': {
            'first': '第一页',
            'last': '末页',
            'next': '下一页',
            'previous': '上一页'
          }
        }
      })
    })
    NProgress.done()
  </script>
{% endblock %}
