{% extends 'layout.html' %}

{% block title %}
  上月概要
{% endblock %}

{% block head %}
  <script src="js/datatables/jquery.dataTables.min.js"></script>
  <script src="js/datatables/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block content %}
  {% include "partials/navbar.html" %}
  <div class="container mt10">
    {% include "partials/flash.html" %}
  </div>
  <div class="container mt10 pln prn" id="charts-container">
    <div class="page-header">
      <h6>可视化 - 当月概要<small></small></h6>
    </div>

  </div>
{% endblock %}

{% block pagejs %}
  <script>
    NProgress.start()


    NProgress.done()
  </script>
{% endblock %}
